// Config file for Variant Calling

// Plugins
plugins {
    id 'nf-schema@2.2.1' // sampleSheetToList(csv, json)
}

// Params
params {
    // User Inputs
    genome = "/home/amrinder/Documents/Github/variant-calling/ref_genome/GRCh38_full_analysis_set_plus_decoy_hla.fa"
    input  = "/home/amrinder/Documents/Github/variant-calling/samplesheet/samplesheet.csv"
    nucleotides_per_second = 20000
    outdir = null // Path to out directory
}

// Profiles
profiles {
    docker {docker.enabled = true
            runOptions = '-u $(id -u):$(id -g)'}
}